on-icon {
    color:whitesmoke;
    --ionicon-stroke-width: 80px;
  }

.green{
  background-color: rgb(0, 128, 90);
}
.yellow{
  background-color: yellow;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}

.purple{
  background-color: purple;
}
